{% extends 'base.html.twig' %}

{% block title %}{{ achievement.title }}{% endblock %}

{% block breadcrumbs %}
    {{ breadcrumb( 'Achievements' | trans(), path('achievements_list') ) }}
    {{ breadcrumb( achievement.title, path('achievements_details', {'id': achievement.id}) ) }}
{% endblock %}

{% block body %}

    {% set vars = {'achievement': achievement} %}
    {% include 'achievements/info_sidebar.html.twig' with vars %}

    <div class="col-lg-9">
        {% if app.user.canAddUserAchievements %}
            <form class="form-inline">
                <div class="panel panel-default no-bg  b-gray-dark">
                    <div class="panel-body">
                        <div class="form-group pull-right">
                            <div class="btn-toolbar">
                                <a class="btn btn-primary" data-toggle="modal" data-target=".addAchievementsUserModal"><i class="fa fa-plus"></i> {{ "Add achievements user" | trans() }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        {% endif %}

        <table class="table table-striped table-right">
            <thead>
            <tr>
                <th class="small text-muted text-uppercase"></th>
                <th class="small text-muted text-uppercase">{{ 'Fullname' | trans() }}</th>
                <th class="small text-muted text-uppercase">{{ 'Employee Role' | trans() }}</th>
                <th class="small text-muted text-uppercase">{{ 'Team' | trans() }}</th>
                <th class="small text-muted text-uppercase">{{ 'Created At' | trans() }}</th>
            </tr>
            </thead>
            <tbody>
            {% for userAchievement in userAchievements %}
                <tr>
                    <td class="v-a-m" style="width: 35px;">
                        <div class="avatar avatar-image avatar-sm">
                            <div class="avatar-circle">
                                {% if userAchievement.owner.imageUrl is not null %}
                                    <img src="{{ userAchievement.owner.imageUrl }}" />
                                {% else %}
                                    <img src="/images/noavatar.png" alt="Avatar">
                                {% endif %}
                            </div>
                            <i class="avatar-status avatar-status-bottom bg-{{ employee_service.getOnlineStatus(userAchievement.owner).colorBadge }} b-brand-gray-darker"></i>
                        </div>
                    </td>
                    <td class="v-a-m">
                        <a href="{{ path('employee_details', {'userName': userAchievement.owner.username}) }}">
                            <strong>{{ userAchievement.owner.getFullName(true) }}</strong>
                        </a>
                    </td>
                    <td class="v-a-m">
                        {% if userAchievement.owner.employeeRole is not null %}
                            {{ userAchievement.owner.employeeRole.name }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td class="v-a-m">
                        {% if userAchievement.owner.team is not null %}
                            {{ userAchievement.owner.team.title }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        <strong>{{ userAchievement.createdAt | date('d.m.Y') }}</strong>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% set vars = {
        'route': 'achievements_details',
        'currentPage': currentPage,
        'perPage': perPage,
        'maxPages': maxPages,
        'filters': filters,
        'routeParams': {
            'id': achievement.id
        }
    }
    %}

    {% include 'partial/paginator.html.twig' with vars %}

    {% import 'achievements/partial/form.html.twig' as form %}

    {% set addUserAchievementsVars = {
        'class': 'addAchievementsUserModal',
        'formId': 'addAchievementsUserForm',
        'title': 'Add achievements user',
        'content': form.inputs(users),
        'formAction': path('achievements_user_add', {'id': achievement.id}),
        'submitTitle': 'Add'
    }
    %}

    {% include 'partial/modal.html.twig' with addUserAchievementsVars %}

{% endblock %}