<li>
    <a href=""
       data-href="{{ path('server_edit', {'id': server.id}) }}"
       class="edit-server"
       data-type="{{ server.type }}"
       data-host="{{ server.type == 'guest' ? server.host}}"
       data-ip-address="{{ server.ipAddress }}"
       data-ip-type="{{ server.ipType }}"
       data-mac-address="{{ server.macAddress }}"
       data-domain="{{ server.domain }}"
       data-installed-service="{{ server.installedService }}"
       data-inventory-number="{{ server.inventoryNumber }}"
       data-serial-number="{{ server.serialNumber }}"
       data-operation-system="{{ server.operationSystem ? server.operationSystem.id }}"
       data-legal="{{ server.legal ? '1' : '0' }}"
       data-room="{{ server.room }}"

       data-toggle="modal"
       data-target=".editServerModal">
        <i class="fa fa-fw fa-pencil"></i> {{ 'Edit' | trans() }}
    </a>
</li>

<li>
    <a href=""
       class="deleteComputer"
       data-modal-title="{{ 'Delete server' | trans() }}"
       data-form-action="{{ path('delete_computer', {'id': server.id}) }}"
       data-target=".deleteComputerModal"
       data-toggle="modal"
       data-list-path="servers_list">
        <i class="fa fa-fw fa-minus-square-o text-danger"></i> {{ 'Delete server' | trans() }}
    </a>
</li>
