{% extends 'emails/base_email_template.html.twig' %}

{% block template_title %}
    <strong>{{ 'document.approved' | trans() ~ ' ' ~ 'document' | trans () }}</strong> <a href="{{ base_url ~ path('document_details', {'id': document.id}) }}" style="color:#3b73af;text-decoration:none;" target="_blank" rel="noopener noreferrer"><img height="16" width="16" border="0" align="absmiddle" src="../message_part/?_uid=1130000023966733&amp;hid=1.4&amp;ids=162974011515471407&amp;name=&amp;yandex_class=yandex_inline_content_320.mail:1130000023966733.E370834:26556666355730289872878139301_1.4_162974011515471407"> {{ '#' ~ document.code }} </a>
{% endblock %}
{% block template_description %}
    <tr>
        <td style="padding:0;border-collapse:collapse;border-left:1px solid #cccccc;border-right:1px solid #cccccc;border-top:0;border-bottom:0;padding:0 15px 0 16px;background-color:#ffffff;" bgcolor="#ffffff">
            <table cellspacing="0" cellpadding="0" border="0" width="100%" style="border-collapse:collapse;font-family:Arial,sans-serif;font-size:14px;line-height:20px;">
                <tbody>
                <tr>
                    <td style="padding:0;border-collapse:collapse;padding:0 0 10px;">
                        <p style="margin:10px 0 0;margin-top:0;"></p>
                        <p style="margin:10px 0 0;">
                            {{ 'To view the document, click on' | trans() ~ ' '}}<a href="{{ base_url ~ path('document_details', {'id': document.id}) }}"> {{ 'the link' | trans() }} </a>
                        </p>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
{% endblock %}
{% block template_table %}
{% endblock %}