{% macro inputs(ipTypes, hosts) %}

    <div class="form-group">
        <input type="hidden" class="form-control printer-type" value="printer" name="printer[type]">
        <label class="col-sm-2 control-label">{{ 'Model' | trans() }}</label>
        <div class="col-lg-3">
            <input class="printer-model form-control" name="printer[model]" value="" placeholder="{{ 'Model' | trans() }}">
        </div>
        <label class="col-sm-2 control-label" style="margin-top: -20px;">{{ 'Way to get the ip-address' | trans() }}</label>
        <div class="col-lg-3">
            <select class="form-control select2-modal printer-ip-type" name="printer[ipType]">
                <option value="">{{ 'Select type' | trans() }}</option>
                {% for type in ipTypes %}
                    <option {% if printer.ipType is defined and printer.ipType == type %}selected{% endif %} value="{{ type }}">
                        {{ type | trans() }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">{{ 'IP Address' | trans() }}</label>
        <div class="col-lg-3">
            <input class="printer-ip-address form-control" name="printer[ipAddress]" value="" placeholder="{{ 'IP Address' | trans() }}">
        </div>
        <label class="col-sm-2 control-label">{{ 'MAC Address' | trans() }}</label>
        <div class="col-lg-3">
            <input class="printer-mac-address form-control" name="printer[macAddress]" value="" placeholder="{{ 'MAC Address' | trans() }}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">{{ 'Type cartridge' | trans() }}</label>
        <div class="col-lg-3">
            <input class="printer-cartridge-type form-control" name="printer[cartridgeType]" value="" placeholder="{{ 'Type cartridge' | trans() }}">
        </div>
        <label class="col-sm-2 control-label">{{ 'Quantity' | trans() }}</label>
        <div class="col-lg-3">
            <input type="number" class="printer-quantity form-control" name="printer[quantity]" value="" placeholder="{{ 'Quantity' | trans() }}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" style="margin-top:-10px;">{{ 'Inventory number' | trans() }}</label>
        <div class="col-lg-3">
            <input class="printer-inventory-number form-control" name="printer[inventoryNumber]" value="" placeholder="{{ 'Inventory number' | trans() }}">
        </div>
        <label class="col-sm-2 control-label">{{ 'Room' | trans() }}</label>
        <div class="col-lg-3">
            <input class="printer-room form-control" value="" name="printer[room]" placeholder="{{ 'Room' | trans() }}">
        </div>
    </div>

    <script>
        $(document).ready(function(){
            moment.locale('ru');
            
            $('.edit-printer').bind('click', function(){

                var editPrinterForm = $('#editPrinterForm');
                editPrinterForm.attr('action', $(this).data('href'));
                editPrinterForm.find('.printer-type').val($(this).data('type'));
                editPrinterForm.find('.printer-model').val($(this).data('model'));
                editPrinterForm.find('.printer-ip-address').val($(this).data('ip-address'));
                editPrinterForm.find('.printer-ip-type').val($(this).data('ip-type'));
                editPrinterForm.find('.printer-mac-address').val($(this).data('mac-address'));
                editPrinterForm.find('.printer-inventory-number').val($(this).data('inventory-number'));
                editPrinterForm.find('.printer-room').val($(this).data('room'));
                editPrinterForm.find('.printer-cartridge-type').val($(this).data('cartridge-type'));
                editPrinterForm.find('.printer-quantity').val($(this).data('quantity'));

                $('.select2-modal').select2({ width: '100%' });
            });
        });
    </script>

{% endmacro %}