{% extends 'base.html.twig' %}

{% block title %}{{ 'Medical institutions' | trans() }}{% endblock %}

{% block breadcrumbs %}
    {{ breadcrumb( 'Medical institutions' | trans(), path('medical_institutions_list') ) }}
{% endblock %}

{% block body %}
    <form class="form-inline filter-form" method="get" action="{{ path('medical_institutions_list') }}">
        <div class="panel panel-default no-bg b-gray-dark">
            <div class="panel-body">
                <div class="form-group filter">
                    <input class="form-control" name="filters[name]" placeholder="{{ 'Search by name' | trans() }}"
                           value="{% if filters.name is defined %}{{ filters.name }}{% endif %}" />
                </div>
                <div class="form-group filter">
                    <select name="filters[category]" class="form-control select2-modify filter" tabindex="-1" aria-hidden="true">
                        <option value="">{{ 'Select category' | trans() }}</option>
                        {% for category in categories %}
                            <option {% if filters.category is defined and filters.category == category.id %}selected{% endif %} value="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group filter">
                    <input class="form-control" name="filters[region]" placeholder="{{ 'Search by region' | trans() }}"
                           value="{% if filters.region is defined %}{{ filters.region }}{% endif %}" />
                </div>
                <div class="form-group filter">
                    <input class="form-control" name="filters[city]" placeholder="{{ 'Search by city' | trans() }}"
                           value="{% if filters.city is defined %}{{ filters.city }}{% endif %}" />
                </div>
                <div class="form-group filter">
                    <input class="form-control" name="filters[index]" placeholder="{{ 'Search by index' | trans() }}"
                           value="{% if filters.index is defined %}{{ filters.index }}{% endif %}" />
                </div>
                {% if app.user.canEditMedicalInstitutions() %}
                    <button type="button" class="btn btn-success pull-right m-r-1" data-toggle="modal" data-target=".importMedicalInstitutionsModal"><i class="fa fa-fw fa-upload"></i> {{ 'Import' | trans() }}</button>
                {% endif %}
            </div>
        </div>
    </form>

    <table class="table table-striped">
        <thead>
        <tr>
            <th class="small text-muted text-uppercase">#</th>
            <th class="small text-muted text-uppercase"><strong>{{ 'Name' | trans() }}</strong></th>
            <th class="small text-muted text-uppercase"><strong>{{ 'Type' | trans() }}</strong></th>
            <th class="small text-muted text-uppercase"><strong>{{ 'Category' | trans() }}</strong></th>
            <th class="small text-muted text-uppercase"><strong>{{ 'Region' | trans() }}</strong></th>
            <th class="small text-muted text-uppercase"><strong>{{ 'City' | trans() }}</strong></th>
            <th class="small text-muted text-uppercase"><strong>{{ 'District' | trans() }}</strong></th>
            <th class="small text-muted text-uppercase"><strong>{{ 'Index' | trans() }}</strong></th>
            <th class="small text-muted text-uppercase"><strong>{{ 'Address' | trans() }}</strong></th>
            <th class="small text-muted text-uppercase"><strong>{{ 'Phone' | trans() }}</strong></th>
            <th class="small text-muted text-uppercase"><strong>{{ 'Email' }}</strong></th>
            <th class="small text-muted text-uppercase"><strong>{{ 'Site' | trans() }}</strong></th>
        </tr>
        </thead>
        <tbody>
        {% for medicalInstitution in medicalInstitutions %}
            <tr>
                <td class="v-a-m" style="width: 35px;">
                    <span>{{ medicalInstitution.id }}</span>
                </td>
                <td class="v-a-m">
                    <span>{{ medicalInstitution.name }}</span>
                </td>
                <td class="v-a-m">
                    <span>{{ medicalInstitution.type ? : '-'}}</span>
                </td>
                <td class="v-a-m">
                    <span>{{ medicalInstitution.category.name }}</span>
                </td>
                <td class="v-a-m">
                    <span>{{ medicalInstitution.region ? : '-' }}</span>
                </td>
                <td class="v-a-m">
                    <span>{{ medicalInstitution.city ? : '-' }}</span>
                </td>
                <td class="v-a-m">
                    <span>{{ medicalInstitution.district ? : '-' }}</span>
                </td>
                <td class="v-a-m">
                    <span>{{ medicalInstitution.indexMedicalInstitution ? : '-' }}</span>
                </td>
                <td class="v-a-m">
                    <span>{{ medicalInstitution.address ? : '-' }}</span>
                </td>
                <td class="v-a-m">
                    <span>{{ medicalInstitution.phone ? : '-' }}</span>
                </td>
                <td class="v-a-m">
                    <span>{{ medicalInstitution.email ? : '-' }}</span>
                </td>
                <td class="v-a-m">
                    <span>{{ medicalInstitution.site ? : '-'}}</span>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% set vars = {
        'route': 'medical_institutions_list',
        'currentPage': currentPage,
        'maxPages': maxPages,
        'filters': filters
    }
    %}
    {% include 'partial/paginator.html.twig' with vars %}

    {% import 'medical_institutions/partial/import_form.html.twig' as importMedicalInstitutionsForm %}

    {% set importMedicalInstitutionsVars = {
        'class': 'importMedicalInstitutionsModal',
        'formId': 'importMedicalInstitutionsForm',
        'title': 'Import medicial institutions',
        'content': importMedicalInstitutionsForm.inputs(),
        'submitTitle': 'Import',
        'formAction': path('medical_institutions_import')
    }
    %}

    {% include 'partial/modal.html.twig' with importMedicalInstitutionsVars %}

{% endblock %}